body {
  margin: 0;
}

header {
  background-color: beige;
}

header h1 {
  border-bottom: 5px solid #000;
  margin: 0;
  padding: 0 0 20px 10px;
}

nav {
  margin-top: 20px;
}

header ul {
  display: inline-block;
  margin: 0;
}

header ul li {
  display: inline-block;
  margin: 0 15px;
}

header ul li:nth-of-type(3) {
  cursor: pointer;
  width: 119.1px;
}

header a {
  color: #fff;
  background-color: #2c1d00;
  display: inline-block;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.dropbtn {
  position: relative;
}

.dropbtn:after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  top: 15px;
}

.dropdown-content {
  display: none;
  padding: 0;
  position: absolute;
}

.dropdown-content a {
  background-color: #40463e;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content  a:hover {
  background-color: #535a50;
}

button {
  display: inline;
  margin-left: 100px;
}